*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 60.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    font-size: 1.6rem;
}

.hero-shadow{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.orange-color{
    color: rgb(255, 102, 0);
}